Dados do Paciente:
Nome: {{paciente.nome}}
CPF: {{paciente.cpf}}
EMAIL: {{paciente.email}}
TELEFONE: {{paciente.telefone}}

Dados do Psicólogo
Nome: {{psicologo.nome}}
CRP: {{psicologo.crp}}
EMAIL: {{psicologo.email}}
TELEFONE: {{psicologo.telefone}}

Concordo em ceder os dados desta avaliação para o profissional com registro no CRP: {{psicologo.crp}}.
A orientação psicológica se encerra neste momento e o tratamento psicológico será conduzido sob a responsabilidade do referido psicólogo

Enviado por IP: {{ip}} em {{data}}