{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Projeto Final</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/projetofinal.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


      <script type="text/javascript" src="{% static 'assets/javascript/jquery-1.12.4.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/javascript/highcharts.js' %}"></script>
      <script src="{% static 'assets/javascript/ajaxgoogleapis.js' %}"></script>
      <script text="text/javascript" src="{% static 'assets/javascript/jquery.js' %}"></script>
      <script src="{% static 'assets/javascript/bootstrap.js' %}"></script>
      <script src="{% static 'assets/javascript/menulateral.js' %}"></script>
      <script src="{% static 'assets/javascript/grafico.js' %}"></script>
  </head>
  <body>

     <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'projetofinal.views.Home' %}">Vínculo Vida</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                </div>

             <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right">
                Olá, {{user.first_name|capfirst}}
              </form>
              </div>
              </div>
         </nav>
        <nav class="navbar navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <div class="desktop-hide">
                        Olá, {{user.first_name|capfirst}}
                    </div>
                        <li><a href="{% url 'projetofinal.views.Home' %}">Início<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                        <li ><a href="/cadastro/editar/{{ user.id }}">Editar Cadastro<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Análise<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-edit"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="/analise/inserir/{{ user.id }}">Inserir</a></li>
                                <li><a href="#">Prosseguir</a></li>
                                <li><a href="/analise/consultar/{{user.id}}">Consultar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recomendações<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a></li>
                        <li ><a href="{% url 'projetofinal.views.LogoutView' %}">Sair<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-remove-circle"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
      <div class="main">
       <div class="container">
          <hr class="featurette-divider">
          <div class="col-md-10">
          <form action="remover" method="POST">{% csrf_token %}
            {% if not view.anamnesia %}
              <h2>Não existem análises</h2>
            {% else %}
          <table class="table">
            <tr>
                <th></th>
                <th>Análises</th>
            </tr>
            {% for analise in view.anamnesia %}
            <tr>
                <td class="col-sm-1">
                      <label>
                        <input type="checkbox" name="analise" value="{{analise.id}}">
                      </label>
                </td>
                <td><a href="/analise/consultar/{{user.id}}/{{ analise.id }}">{{analise.inicio}}</a>
                </td>
            </tr>
            {% endfor %}
          </table>
              <button type="submit" class="btn btn-defaul">Remover</button>
          </form>
              <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
          {% endif %}
       </div>
       </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script text="text/javascript">
dados = {{ view.grafico|safe }};
</script>

  </body>
</html>


