{% extends 'projetofinal/analise/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
           <div class="panel panel-info">
            <div class="panel-heading">Recomendações</div>
                <div class="panel-body">

                <p>{{view.anamnesia.inicio|date:'d-m-Y H:i' }}</p>
                <a href="/pdf/{{user.id}}/{{view.anamnesia.id}}">Genograma</a>
               <div id="radar" style="min-width: 100px;min-height: 100px;height: 500px; margin: 0 auto"></div>
              <hr class="featurette-divider">
              {{ view.texto }}
              <hr class="featurette-divider">
             <div class="col-md-12 text-center">
              <a type="submit" href="/analise/resumo/{{user.id}}/{{view.anamnesia.id}}/seletiva" class="btn btn-default">Continuar atendimento</a>
             </div>
           </div>
           </div>



<script text="text/javascript">
dadosRadar = {{ view.grafico|safe }};
paciente = {{ view.paciente|safe }};

 var radar = {
            xAxis: [{
                categories: ['Adaptativo','Reativo', 'Criativo']
            }],
            chart: {
                zoomType: 'xy',
                renderTo: 'radar'
            },
            title: {
                text: 'Grau de Indiferenciação<br>'+ paciente['paciente']
            },
            yAxis: [{
                labels: {
                    style: {
                        color: ["#7cb5ec","#f7a35c","#ff095c","#FFDAB9","#FF0000","#AB82FF","#ADFF2F","#FF69B4"]
                    }
                },
                title: {
                    text: 'Pontuação',
                    style: {
                        color: ["#7cb5ec","#f7a35c","#ff095c","#FFDAB9","#FF0000","#AB82FF","#ADFF2F","#FF69B4"],
                    }
                }
            }],

            tooltip: {
                shared: true
            },

            series: []
}


        var chart2 = new Highcharts.Chart(radar);

        for(var item in dadosRadar){
            if (item[0] != "L"){
                chart2.addSeries({
                    type:'bubble',
                    name:item,
                    data:dadosRadar[item],
                    tooltip: {
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:</td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    }
                });
                }
        }
        chart2.addSeries({
                name: 'Limites',
                type: 'errorbar',
                data: [[dadosRadar['Limite Inferior Adaptativo'],dadosRadar['Limite Superior Adaptativo']],
                [dadosRadar['Limite Inferior Reativo'],dadosRadar['Limite Superior Reativo']],
                [dadosRadar['Limite Inferior Criativo'],dadosRadar['Limite Superior Criativo']]],
                tooltip: {
                pointFormat:  '(Limites esperados: Inferior={point.low} Superior={point.high})<br/>'
                }

        });

</script>

{% endblock %}

