{% extends 'projetofinal/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

    {% block content %}
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  align="center">
        <br>
        <h4 style="color:#003b70"><strong>A etapa de orientação psicológica pelo sistema Meet Yourself está finalizada.</strong></h4>
        <h4 style="color:#003b70"><strong>Sugerimos que você dê prosseguimento ao seu aprimoramento buscando ajuda com um profissional Psicólogo. </strong></h4>
        <h4 style="color:#003b70"><strong>Temos uma lista de recomendações destes profissionais que podem ser contatados por você.</strong></h4>
        <h4 style="color:#003b70"><strong>Faça uma busca por Psicólogos clicando no botão a seguir. </strong></h4><br>
        <img src="{% static 'image/contato.jpg' %}" class="img-responsive" alt="Responsive image"/>
        <br><br>
    <a type="submit" href="/buscar_psicologo/{{user.id}}" class="btn btn-default">Buscar Psicólogo</a>

    </div>


    {% endblock %}

