{% extends 'projetofinal/analise/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
 <div class="container">
            <!--{% if not view.anamnesia %}-->
              <!--<h4>Você precisará de uma nova chave para realizar um novo atendimento.</h4>-->
              <!--<h4>As recomendações para o atendimento já finalizado continuam disponíveis-->
                  <!--no menu "Recomendações"</h4>-->
            <!--{% else %}-->
            <!--{%if view.paciente.tempo == 1%}-->
            <!--<h4>Falta {{view.paciente.tempo}} dia para encerrarem seus créditos</h4>-->
            <!--{%else%}-->
            <!--<h4>Faltam {{view.paciente.tempo}} dias para encerrarem seus créditos</h4>-->
            <!--{%endif%}-->
             <div class="row">
          <div role="main" class="col-md-2">
          <form action="remover" method="POST" class="form-group">{% csrf_token %}
          <table class="table ">
            <tr>
                <th></th>
                <th>Atendimentos</th>
            </tr>
              <td><input type="checkbox" id="selectAll"></td>
              <td>Selecionar todos</td>
            {% for analise in view.anamnesia %}
            <tr>
                <td class="col-sm-1">
                      <label>
                        <input class="checkbox_delete" type="checkbox" name="analise" value="{{analise.id}}">
                      </label>
                </td>
                <td><a href="/analise/prosseguir/{{user.id}}/{{ analise.id }}">{{analise.inicio|date:'d-m-Y H:i' }}</a>
                </td>
            </tr>
            {% endfor %}
          </table>
                <button type="submit" class="btn btn-defaul col-md-offset-2">Remover</button>

          </form>
          </div>
          <aside role="complementary" class="col-md-10">

            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
         </aside>
               {%if view.indiferenciacao == 1%}
               <div id="radar" style="min-width: 100px;min-height: 100px;height: 500px; margin: 0 auto"></div>
               {%endif%}
          {% endif %}
       </div>
       </div>

<script text="text/javascript">
dados = {{ view.grafico|safe }};
dadosRadar = {{ view.graficoRadar|safe }};
paciente = {{ view.pacienteNome|safe }};
</script>

{% endblock %}

