{% extends 'projetofinal/analise/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
           <div class="panel panel-info">
            <div class="panel-heading">Recomendações Disponíveis</div>
                <div class="panel-body">

                <p>Iniciado em {{view.anamnesia.inicio|date:'d-m-Y H:i' }}</p>
              <hr class="featurette-divider">
                    {% for key,value in view.texto.items %}
                    <br>
                        <h4>{{ key }}</h4>
                        <h5>{{value}}</h5>
                    {%endfor%}
              <hr class="featurette-divider">
             <div class="col-md-12 text-center">
              <a type="submit" href="/analise/resumo/{{user.id}}/{{view.anamnesia.id}}/exercicios" class="btn btn-default">Continuar atendimento</a>
             </div>
           </div>
           </div>


{% endblock %}

