{% extends 'projetofinal/analise/recomendacao/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
       <div class="container">
         <div class="col-md-10">
          <hr class="featurette-divider">
           <div class="panel panel-info">
            <div class="panel-heading">Recomendações</div>
                <div class="panel-body">

                <p>{{view.anamnesia.inicio|date:'d-m-Y H:i' }}</p>


              <div id="container" style="min-width: 100px; height: 400px; margin: 0 auto"></div>
               <hr class="featurette-divider">
              {{ view.texto }}
              <hr class="featurette-divider">
              {% if view.indiferenciacao %}
               <div class="col-md-12 text-center">
              <a type="submit" href="/analise/recomendacao/{{user.id}}/{{view.anamnesia.id}}/indiferenciacao" class="btn btn-default">Próxima</a>
              </div>
               {%endif%}
           </div>
           </div>
       </div>
       </div>



<script text="text/javascript">
dados = {{ view.grafico|safe }};
paciente = {{ view.paciente|safe }};
</script>

{% endblock %}


