{% extends 'projetofinal/analise/recomendacao/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
           <div class="panel panel-info">
            <div class="panel-heading">Recomendações</div>
                <div class="panel-body">

                <p>{{view.anamnesia.inicio|date:'d-m-Y H:i' }}</p>
                <a href="/pdf/{{user.id}}/{{view.anamnesia.id}}" target="_blank">Genograma</a>

               <div id="radar" style="min-width: 100px;min-height: 100px;height: 500px; margin: 0 auto"></div>
              <hr class="featurette-divider">
              {{ view.texto }}
              <hr class="featurette-divider">
             <div class="col-md-12 text-center">
              <a type="submit" href="/analise/recomendacao/{{user.id}}/{{view.anamnesia.id}}/areaafetiva" class="btn btn-default">Anterior</a>
            {% if view.interventiva%}
              <a type="submit" href="/analise/recomendacao/{{user.id}}/{{view.anamnesia.id}}/interventiva" class="btn btn-default">Próximo</a>
            {% endif %}
             </div>
           </div>
           </div>


<script text="text/javascript">
dadosRadar = {{ view.grafico|safe }};
paciente = {{ view.pacienteNome|safe }};


</script>

{% endblock %}


