{% extends 'projetofinal/analise/recomendacao/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
           <div class="panel panel-info">
            <div class="panel-heading">Recomendações Disponíveis</div>
                <div class="panel-body">

                <p>Iniciado em {{view.anamnesia.inicio|date:'d-m-Y H:i' }}</p>
              <hr class="featurette-divider">
              {{ view.media }}
              <hr class="featurette-divider">
             <div class="col-md-12 text-center">
              <a type="submit" href="/analise/recomendacao/{{user.id}}/{{view.anamnesia.id}}/indiferenciacao" class="btn btn-default">Anterior</a>
             </div>
           </div>
           </div>


{% endblock %}


